@import "../../styles/variables";

.header {
    background-color: $color-medium-yellow;
    background-size: cover;
    border-radius: $border-radius_default;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    min-height: 80px;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    padding: 20px 40px;


    &__title {
        padding: 0 20px;
    }
}
